@import 'global';
@import 'fonts';


.header {
  padding-top: 23px;
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__inner {
      display: flex;
      align-items: center;
      margin-left: auto;
      .header__help {
        margin-right: 3px;
        & a {
          color: #e74c3c;
          font-size: 15px;
        }
      }
      .header__phone {
        font-size: 15px;
          & a {
            font-size: 15px;
            color: #546e7a;
          }
        }
        .header__basket {
          width: 34px;
          height: 34px;
          background-color: #f5f5f5;
          border-radius: 50%;
          text-align: center;
          line-height: 35px;
          margin-left: 27px;
          margin-right: 26px;
        }
    }
    .entry {
      & a {
        font-size: 12px;
        color: #fff;
        border-radius: 4px;
        width: 72px;
        text-align: center;
      }
      .login {
        padding: 11px 0px 10px 0px;
        background-color: #8bc34a;
      }
      .register {
        padding: 10px 0px 9px 0px;
        background-color: #e74c3c;
        margin-left: 7px;
      }
    }
  }
}

.header__bottom {
  background-color: #263238;
  padding-top: 23px;
  margin-top: 16px;
  padding-bottom: 26px;
}
.menu {
  display: flex;
    li +li {
    margin-left: 38px;
    font-size: 14px;
    color: #fff;
    }
    a {
      font-size: 14px;
      color: #fff;
      font-weight: 500;
    }
}
// header end

.main {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 533px;
  text-align: center;
  padding-top: 156px;
  padding-bottom: 50px;
  &.page-main {
    min-height: 230px;
    padding-top: 60px;
    padding-bottom: 65px;
    .title__text {
      margin-bottom: 20px;
    }
  }
  .title {
    font-weight: 700;
    font-size: 48px;
    color: #fff;
    margin-bottom: 34px;
  }
  .title__text {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 58px;
  }
  form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;
  }
  input {
    display: block;
    width: 100%;
    height: 56px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    color: #90a4ae;
    padding-left: 25px;
    padding-right: 45px;
    box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
  }
  .main__btn {
    background-color: transparent;
    position: absolute;
    border: none;
    top: 17px;
    right: 5px;
    outline: none;
    cursor: pointer;
  }
}


// prodcuts

.prodcuts {
  padding: 120px 0px 110px;
  background-color: #f4f6f5;
}

.producuts__btns {
  text-align: center;
  margin-top: 60px;
  button {
    border: none;
    background-color: #fff;
    padding: 14px 21px;
    font-size: 14px;
    font-weight: 500;
    color: #263238;
    transition: all 0.5s;
    cursor: pointer;
  }
  button:hover {
    background-color: #e74c3c;
    color: #fff;
  }
  .mixitup-control-active {
    background-color: #e74c3c;
    outline: none;
  }
  
}

.prodcuts__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}
  
  .prodcuts__box {
    margin-bottom: 30px;
    flex-wrap: wrap;
    max-width: 442px;
    width: 100%;
  .prodcuts__img {
      min-height:250px;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

}
  .prodcuts__box-info {
      border-bottom: 1px solid #e7ecf2;
      border-left: 1px solid #e7ecf2;
      border-right: 1px solid #e7ecf2;
      max-width: 442px;
}
  .price {
    font-size: 20px;
    font-weight: 700;
    color: #263238;
}  
  .prodcuts__box-info {
    border-bottom: 1px solid #e7ecf2;
    border-left: 1px solid #e7ecf2;
    border-right: 1px solid #e7ecf2;
    max-width: 442px;
}
  .prodcuts__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
}
  .prodcuts__name {
    margin-top: 29px;
    margin-bottom: 11px;
      & a {
      font-size: 18px;
      font-weight: 500;
      color: #263238;
  }
}
  .prodcuts__info {
    margin-bottom: 20px;
      & a {
      font-weight: 500;
      font-size: 14px;
      color: #8bc34a;
  }
}
        
  .prodcuts__userinfo {
    padding: 17px 32px 21px 32px;
    display: flex;
    align-items: center;
    border-top: 1px solid #e7ecf2;
    justify-content: space-between;
    .autor {
      display: flex;
      align-items: center;
  }
    .prodcuts__userimg {
      width: 30px;
      height: 30px;
      border-radius: 50%;
  }
    .prodcuts__username {
      margin-left: 14px;
        & a {
          font-size: 14px;
          font-weight: 500;
          color: #546e7a;
  }
}
    .rating__inner {
      display: flex;
      color: #b0bec5;
        .rating {
          margin-right: 13px;
  }
        & span {
          color: #263238;
       }
    }
  }
}
    
  

.btns__bottom {
  text-align: center;
  button {
    padding: 20px 33px;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    font-size: 16px;
    color: #263238;
    outline: none;
    cursor: pointer;
    border: none;
    transition: all 0.5s;
    }
    button + button {
      margin-left: 12px;
    }
    button:hover {
      background-color: #e74c3c;
      color: #fff;
    }
    .mixitup-control-active {
      background-color: #e74c3c;
    }
}

// prodcuts-slider

.prodcuts__slider {
  padding-top: 120px;
  padding-bottom: 120px;
}

.slider {
  margin-top: 62px;
  .slick-dots {
    text-align: center;
    margin-top: 67px;
    li {
      display: inline-block;
      margin: 0 4px;
      &.slick-active button {
        background-color: #8bc34a;
      }
    }
    button {
      font-size: 0;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: rgb(232, 232, 232);
      outline: none;
      cursor: pointer;
      border: none;
    }
  }
  
}


// advantages

.advantages {
  background-color: #263238;
  padding-top: 123px;
  padding-bottom: 115px;
}

.advantages-title {
  color: #fff;
  margin-bottom: 83px;
}

.advantages__wrapper {
  display: flex;
  justify-content: space-between;
  .advantages__block {
    text-align: center;
    max-width: 345px;
    padding: 0 10px;
    
  }
  .advantages__block:hover {
    .advantages__logo {
      background-color: #8bc34a;
    }
    .advantages__logo g {
      fill: #fff;
    }
    .advantages__name {
      color: #8bc34a;
    }
  }
  
  
  .advantages__logo {
    width: 113px;
    height: 113px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
  }
  .advantages__name {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 26px;
    transition: all .5s;
  }
  .advantages__text {
    font-size: 15px;
    color: #b0bec5;
  }
}


.authors {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 751px;
  display: flex;
  align-items: center;
  justify-content: center;
  .authors__box {
    max-width: 653px;
    width: 100%;
    min-height: 216px;
    background-color: #8bc34a;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .authors__text {
    font-size: 30px;
    color: #fff;
    max-width: 260px;
    line-height: 36px;
    margin-right: 45px;
  }
    & a {
    width: 225px;
    padding: 25px 0 24px;
    background-color: #fff;
    text-align: center;
    color: #263238;
    font-size: 18px;

    }
  }



.tutorial {
    padding: 73px 0 162px;
  }


  .tutorial__title {
    color: #263238;
    text-align: center;
    margin-bottom: 64px;  
  }

.tutorial__wrapper {
  display: flex;
  justify-content: space-between;
}

  .tutorial__block {
    text-align: center;
    .tutorial__text {
      font-size: 24px;
      font-weight: 700;
      color: #263238;
      margin-top: 39px;
    }
  }

.footer {
  background-color: #263238;
  padding-top: 115px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__name {
  font-size: 22px;
  color: #fff;
  padding-bottom: 31px;
  position: relative;
}

.footer__name::before {
  content: '';
  background-color: #8bc34a;
  width: 51px;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer__about {
  max-width: 270px;
  .footer__text {
    font-size: 15px;
    color: #b7c3c8;
    margin-top: 32px;
  }
  .footer__adress {
    font-size: 14px;
    color: #fff;
    margin-top: 32px;
    margin-bottom: 23px;
    padding-left: 29px;
    position: relative;
  }
  .footer__adress::before {
    content: '\f041';
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'icomoon' !important;
    color: #8bc34a;
  }
  .footer__phone {
    font-size: 14px;
    color: #fff;
    padding-left: 29px;
    position: relative;
  }
  .footer__phone::before {
    content: '\f095';
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'icomoon';
    color: #8bc34a;
  }
}


.footer__menu-list {
  max-width: 220px;
  ul {
    margin-top: 34px;
  }
  li {
    margin-top: 25px;
    position: relative;
    padding-left: 21px;
  }
  li + li {
    margin-top: 15px;
  }
  li:before {
    content: '\f054';
    position: absolute;
    color: #8bc34a;
    top: 0;
    left: 0;
    font-family: 'icomoon';
  }
  a {
    font-size: 15px;
    color: #b7c3c8;
  }
}

.footer__help {
  max-width: 200px;
}

.footer__social {
  margin-top: 35px;
  margin-bottom: 45px;
  
  .footer__social-link {
    li {
      display: inline-block;
    }
    a {
      width: 28px;
      height: 28px;
      background-image: url(../img/icons/css_sprites.png);
    }
    li + li {
      margin-left: 7px;
    }
  }
}

.icon-twitter {
  background-position: 56px -28px;
}

.icon-youtube {
  background-position: 28px 0px;
}

.icon-p {
  background-position: 84px 140px;
}

.icon-in {
  background-position: 56px 0px;
}

.newsletter {
  font-size: 20px;
  color: #fff;
  margin-top: 18px;
  margin-bottom: 20px;
}

.form {
  form {
    width: 261px;
    position: relative;
    input {
      display: block;
      width: 100%;
      height: 40px;
      padding-left: 16px;
      padding-right: 50px;
      font-size: 14px;
      color: #697378;
      background-color: #2f3c43;
      border: none;
    }
  }
  button {
    position: absolute;
    height: 40px;
    width: 43px;
    background-color: #8bc34a;
    right: 0;
    bottom: 0;
    border: none;
    cursor: pointer;
  }
    button::before {
      content: '\f124';
      position: absolute;
      right: 15px;
      bottom: 8px;
      font-family: 'icomoon';
      color: #fff;
      font-size: 20px;
    
  }
}

.footer__bottom {
  text-align: center;
  margin-top: 120px;
  padding: 33px;
  font-size: 15px;
  color: #919699;
  border-top: 1px solid #424d53;
}


.product-page {
  background-color: #f4f6f5;
}

.product-page__wrapper {
  display: flex;
}

.aside {
  margin-right: 30px;
  // border: 1px solid #dedede;
}

.aside__item {
  padding: 0px 32px 32px;
  width: 270px;
}
.aside__inner {
  border: 1px solid #dcdcdc;
}

.category {
  padding-bottom: 43px;
  border: 1px solid #dcdcdc;
}

.aside__title {
  font-size: 20px;
  font-weight: 700;
  color: #263238;
  padding: 22px 0px 17px;
  border-bottom: 1px solid #dde3e8;
}

.category__name {
  margin-top: 29px;
  li {
    display: flex;
    justify-content: space-between;
    padding-left: 18px;
    position: relative;
    &::before {
      position: absolute;
      content: '\f054';
      color: #8bc34a;
      font-family: 'icomoon';
      top: 0;
      left: 0;
    }
  }
  li + li {
    margin-top: 27px;
    }
    a {
    font-size: 15px;
    color: #263238;
  }
  span {
    font-size: 15px;
    color: #90a4ae;
    margin-left: 10px;
  }
}

.price-range {
  border: 1px solid #dcdcdc;
  margin-bottom: 30px;
  margin-top: 30px;
  button {
    margin-top: 55px;
    width: 205px;
    padding: 17px 0;
    border: none;
    background-color: #8bc34a;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    &::before {
      content: '\f002';
      position: absolute;
      top: 0;
      left: 0;
      font-family: 'icomoon';
      font-size: 15px;
      top: 15px;
      left: 58px;
    }
  }
  
}

.irs-max,
.irs-min {
  display: none;
}

.irs--flat .irs-line {
  background-color: #f2f5f8; 
  height: 5px;
}

.irs--flat .irs-bar {
  background-color: #37474f;
  height: 5px;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs--flat .irs-handle {
  background-color: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 4px solid #8bc34a; 
  top: 20px;
}

.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to{
  color: #78909c;
  font-size: 15px;
  line-height: 1.333;
  text-shadow: none;
  padding: 0;
  background-color: transparent;
  border-radius: 4px;
}
.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before {
  display: none;
}

.irs-from, .irs-single, .irs-to {
  top: 43px;
}

.top-sellers {
  .prodcuts__box {
    margin-bottom: 0;
    padding-top: 23px;
    padding-bottom: 23px;
    border-top: 1px solid #dde3e8;
  }
  .prodcuts__img {
    min-height: 120px;
  }
  .prodcuts__box-info {
    border: none;;
  }
  .prodcuts__inner {
    padding: 0;
  }
  .prodcuts__name {
    margin: 18px 0px 9px;
    & a {
      font-size: 16px;
    }
  }
  .prodcuts__info {
    margin: 0;
    margin-bottom: 13px;
  }
  .prodcuts__userinfo {
    padding: 0;
    border: none;
  }
  .prodcuts__userimg {
    min-width: 30px;
  }
  .price {
    font-size: 16px;
  }
  .prodcuts__box .prodcuts__userinfo .rating__inner .rating {
    margin-right: 0;
  }
  .rating__inner {
    span {
      display: none;
    }
  }
}

.top-sellers__btn {
  max-width: 206px;
  width: 100%;
  background-color: #8bc34a;
  padding: 16px 0;
  text-align: center;
  font-size: 15;
  font-weight: 500;
  color: #fff;
  margin-top: 20px;
}
.product__page {
  display: flex;
}

.product__page-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .prodcuts__box {
    max-width: 270px;
    transition: all .5s;
    background-color: #fff;
  }
  .prodcuts__img {
    min-height: 180px;
  }
  .prodcuts__inner {
    padding-left: 20px;
    padding-right: 20px;
  }
  .products__inner-info {
    padding-right: 1px;
  }
  .prodcuts__userinfo {
    padding-left: 20px;
    padding-right: 20px;
  }
  .prodcuts__text {
    display: none;
  }
 
}

.product-page__content {
  width: 100%;
}

.filter {
  height: 60px;
  margin-bottom: 30px;
  border: 1px solid #dfdfdf;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 14px;
  color: #707070;
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .filter__block-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      margin: 0 15px 0 12px;
    }
  }
  .icon-sort-amount-desc {
    font-size: 14px;
    color: #455a64;
  }
  .icon-sort {
    font-size: 18px;
    color: #707070;
  }
  .icon-th-large {
    font-size: 16px;
    
    margin-right: 13px;
  }
  .icon-th-list {
    font-size: 16px;
    color: #90a4ae;
  }
  .active {
    color: #8bc34a;
  }
  
}

.paginaition {
  .paginaition__list {
    li {
      display: inline-block;
      
      & + li {
        margin-left: 9px;
      }
      .active {
        background-color: #e74c3c;
        color: #fff;
      }
      a {
        background-color: #fff;
        width: 43px;
        height: 38px;
        color: #263238;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
      }
    }
  }
}
.price {
  span {
    display: none;
  }
}
.prodcuts__item-list {
  display: none;
  .icon-comment-o {
    font-size: 12px;
    color: #b0bec5;
    padding-left: 50px;
    padding-right: 30px;
    border-left: 2px solid #aeb4bb;
    border-right: 2px solid #aeb4bb;
    position: relative;
    span {
      font-size: 12px;
      color: #263238;
      font-weight: 500;
    }
    &::before {
      font-size: 12px;
      color: #8bc34a;
      position: absolute;
      left: 20px;
    }
  }
  .icon-heart-o {
    font-size: 12px;
    color: #b0bec5;
    padding-left: 50px;
    position: relative;
    span {
      font-size: 12px;
      color: #263238;
      font-weight: 500;
    }
    &::before {
      font-size: 12px;
      color: #8bc34a;
      position: absolute;
      left: 20px;
      top: 1px;
    }
  }
 
}

.prodcuts__box {
  &.list {
    max-width: 100%;
    .prodcuts__box-info {
      max-width: 100%;
    }
    .prodcuts__img {
      max-width: 240px;
      float: left;
      min-height: 100%;
    }
    .prodcuts__text {
      display: block;
      font-size: 14px;
      color: #70838d;
      margin: 17px 0 18px; 
    }
    .price {
      text-align: center;
      font-size: 30px;
      span {
        display: block;
        font-size: 13px;
        color: #aeb4bb;
        margin-top: 20px;
        display: block;
      }
    }
    .products__inner-info {
      max-width: 480px;
    }
    .prodcuts__item-list {
      display: block;
    }
  }

}