@import 'global';
@import 'fonts';

.header {
  padding-top: 23px;
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__inner {
      display: flex;
      align-items: center;
      margin-left: auto;
      .header__help {
        margin-right: 3px;
        & a {
          color: #e74c3c;
          font-size: 15px;
        }
      }
      .header__phone {
        font-size: 15px;
          & a {
            font-size: 15px;
            color: #546e7a;
          }
        }
        .header__basket {
          width: 34px;
          height: 34px;
          background-color: #f5f5f5;
          border-radius: 50%;
          text-align: center;
          line-height: 35px;
          margin-left: 27px;
          margin-right: 26px;
        }
    }
    .entry {
      & a {
        font-size: 12px;
        color: #fff;
        border-radius: 4px;
        width: 72px;
        text-align: center;
      }
      .login {
        padding: 11px 0px 10px 0px;
        background-color: #8bc34a;
      }
      .register {
        padding: 10px 0px 9px 0px;
        background-color: #e74c3c;
        margin-left: 7px;
      }
    }
  }
}

.header__bottom {
  background-color: #263238;
  padding-top: 23px;
  margin-top: 16px;
  padding-bottom: 26px;
}
.menu {
  display: flex;
    li +li {
    margin-left: 38px;
    font-size: 14px;
    color: #fff;
    }
    a {
      font-size: 14px;
      color: #fff;
      font-weight: 500;
    }
}
// header end

.main {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 533px;
  text-align: center;
  padding-top: 156px;
  padding-bottom: 50px;
  .title {
    font-weight: 700;
    font-size: 48px;
    color: #fff;
    margin-bottom: 34px;
  }
  .title__text {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 58px;
  }
  form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;
  }
  input {
    display: block;
    width: 100%;
    height: 56px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    color: #90a4ae;
    padding-left: 25px;
    padding-right: 45px;
    box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
  }
  .main__btn {
    background-color: transparent;
    position: absolute;
    border: none;
    top: 17px;
    right: 5px;
    outline: none;
    cursor: pointer;
  }
}

// prodcuts

.prodcuts {
  padding: 120px 0px 110px;
  background-color: #f4f6f5;
}

.producuts__btns {
  text-align: center;
  margin-top: 60px;
  button {
    border: none;
    background-color: #fff;
    padding: 14px 21px;
    font-size: 14px;
    font-weight: 500;
    color: #263238;
    transition: all 0.5s;
    cursor: pointer;
  }
  button:hover {
    background-color: #e74c3c;
    color: #fff;
  }
  .mixitup-control-active {
    background-color: #e74c3c;
    outline: none;
  }
  
}

.prodcuts__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}
  
  .prodcuts__box {
    margin-bottom: 30px;
    flex-wrap: wrap;

  .prodcuts__img {
      width: 442px ;
      height:250px;
}
  .prodcuts__box-info {
      border-bottom: 1px solid #e7ecf2;
      border-left: 1px solid #e7ecf2;
      border-right: 1px solid #e7ecf2;
      max-width: 442px;
}
  .price {
    font-size: 20px;
    font-weight: 700;
    color: #263238;
}  
  .prodcuts__box-info {
    border-bottom: 1px solid #e7ecf2;
    border-left: 1px solid #e7ecf2;
    border-right: 1px solid #e7ecf2;
    max-width: 442px;
}
  .prodcuts__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
}
  .prodcuts__name {
    margin-top: 29px;
    margin-bottom: 11px;
      & a {
      font-size: 18px;
      font-weight: 500;
      color: #263238;
  }
}
  .prodcuts__info {
    margin-bottom: 20px;
      & a {
      font-weight: 500;
      font-size: 14px;
      color: #8bc34a;
  }
}
        
  .prodcuts__userinfo {
    padding: 17px 32px 21px 32px;
    display: flex;
    align-items: center;
    border-top: 1px solid #e7ecf2;
    justify-content: space-between;
    .autor {
      display: flex;
      align-items: center;
  }
    .prodcuts__userimg {
      width: 30px;
      height: 30px;
      border-radius: 50%;
  }
    .prodcuts__username {
      margin-left: 14px;
        & a {
          font-size: 14px;
          font-weight: 500;
          color: #546e7a;
  }
}
    .rating__inner {
      display: flex;
      color: #b0bec5;
        .rating {
          margin-right: 13px;
  }
        & span {
          color: #263238;
       }
    }
  }
}
    
  

.btns__bottom {
  text-align: center;
  button {
    padding: 20px 33px;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    font-size: 16px;
    color: #263238;
    outline: none;
    cursor: pointer;
    border: none;
    transition: all 0.5s;
    }
    button + button {
      margin-left: 12px;
    }
    button:hover {
      background-color: #e74c3c;
      color: #fff;
    }
    .mixitup-control-active {
      background-color: #e74c3c;
    }
}

// prodcuts-slider

.prodcuts__slider {
  padding-top: 120px;
  padding-bottom: 120px;
}

.slider {
  margin-top: 62px;
  .slick-dots {
    text-align: center;
    margin-top: 67px;
    li {
      display: inline-block;
      margin: 0 4px;
      &.slick-active button {
        background-color: #8bc34a;
      }
    }
    button {
      font-size: 0;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: rgb(232, 232, 232);
      outline: none;
      cursor: pointer;
      border: none;
    }
  }
  
}


// advantages

.advantages {
  background-color: #263238;
  padding-top: 123px;
  padding-bottom: 115px;
}

.advantages-title {
  color: #fff;
  margin-bottom: 83px;
}

.advantages__wrapper {
  display: flex;
  justify-content: space-between;
  .advantages__block {
    text-align: center;
    max-width: 345px;
    padding: 0 10px;
    
  }
  .advantages__block:hover {
    .advantages__logo {
      background-color: #8bc34a;
    }
    .advantages__logo g {
      fill: #fff;
    }
    .advantages__name {
      color: #8bc34a;
    }
  }
  
  
  .advantages__logo {
    width: 113px;
    height: 113px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
  }
  .advantages__name {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 26px;
    transition: all .5s;
  }
  .advantages__text {
    font-size: 15px;
    color: #b0bec5;
  }
}


.authors {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 751px;
  display: flex;
  align-items: center;
  justify-content: center;
  .authors__box {
    max-width: 653px;
    width: 100%;
    min-height: 216px;
    background-color: #8bc34a;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .authors__text {
    font-size: 30px;
    color: #fff;
    max-width: 260px;
    line-height: 36px;
    margin-right: 45px;
  }
    & a {
    width: 225px;
    padding: 25px 0 24px;
    background-color: #fff;
    text-align: center;
    color: #263238;
    font-size: 18px;

    }
  }



.tutorial {
    padding: 73px 0 162px;
  }


  .tutorial__title {
    color: #263238;
    text-align: center;
    margin-bottom: 64px;  
  }

.tutorial__wrapper {
  display: flex;
  justify-content: space-between;
}

  .tutorial__block {
    text-align: center;
    .tutorial__text {
      font-size: 24px;
      font-weight: 700;
      color: #263238;
      margin-top: 39px;
    }
  }

.footer {
  background-color: #263238;
  padding: 115px 0px 99px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__name {
  font-size: 22px;
  color: #fff;
  padding-bottom: 31px;
  position: relative;
}

.footer__name::before {
  content: '';
  background-color: #8bc34a;
  width: 51px;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer__about {
  max-width: 270px;
  .footer__text {
    font-size: 15px;
    color: #b7c3c8;
    margin-top: 32px;
  }
  .footer__adress {
    font-size: 14px;
    color: #fff;
    margin-top: 32px;
    margin-bottom: 23px;
    padding-left: 29px;
    position: relative;
  }
  .footer__adress::before {
    content: '\f041';
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'icomoon' !important;
    color: #8bc34a;
  }
  .footer__phone {
    font-size: 14px;
    color: #fff;
    padding-left: 29px;
    position: relative;
  }
  .footer__phone::before {
    content: '\f095';
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'icomoon';
    color: #8bc34a;
  }
}


.footer__menu-list {
  max-width: 220px;
  ul {
    margin-top: 34px;
  }
  li {
    margin-top: 25px;
    position: relative;
    padding-left: 21px;
  }
  li + li {
    margin-top: 15px;
  }
  li:before {
    content: '\f105';
    position: absolute;
    color: #8bc34a;
    top: 0;
    left: 0;
    font-family: 'icomoon';
  }
  a {
    font-size: 15px;
    color: #b7c3c8;
  }
}
.footer__follow {
  // width: 100%;
}
.footer__help {
  max-width: 200px;
}

.footer__social {
  margin-top: 35px;
  margin-bottom: 45px;
  
  .footer__social-link {
    li {
      display: inline-block;
    }
    a {
      width: 28px;
      height: 28px;
      background-image: url(../img/icons/css_sprites.png);
    }
    li + li {
      margin-left: 7px;
    }
  }
}

.icon-twitter {
  background-position: 56px -28px;
}

.icon-youtube {
  background-position: 28px 0px;
}

.icon-p {
  background-position: 84px 140px;
}

.icon-in {
  background-position: 56px 0px;
}

.newsletter {
  font-size: 20px;
  color: #fff;
  margin-top: 18px;
  margin-bottom: 20px;
}

.form {
  form {
    width: 261px;
    position: relative;
    input {
      display: block;
      width: 100%;
      height: 40px;
      padding-left: 16px;
      padding-right: 50px;
      font-size: 14px;
      color: #697378;
      background-color: #2f3c43;
      border: none;
    }
  }
  button {
    position: absolute;
    height: 40px;
    width: 43px;
    background-color: #8bc34a;
    right: 0;
    bottom: 0;
    border: none;
    cursor: pointer;
  }
    button::before {
      content: '\f124';
      position: absolute;
      right: 15px;
      bottom: 8px;
      font-family: 'icomoon';
      color: #fff;
      font-size: 20px;
    
  }
}

.footer__bottom {
  text-align: center;
  margin-top: 120px;
  padding: 33px;
  font-size: 15px;
  color: #919699;
}
